div {
    font-size: 50px;  /* Розмір тексту */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 50px solid yellow;    /* Зовнішнє жовте коло */
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 50px;  /* Відступи */
    box-shadow: 0 0 0 50px blue;
}