:root{
    --light-color: #FFFFFF;
    --text-Header-dark-color: #172432; /*Якщо це колі всього тексту то прибрати Хедер*/
    --orange-color: #FF7757;
    --border-dark-color: #000000;
    --text-gray-color: #767E86;
}