.swiper{
    height: 480px;
    width: 320px;
    margin-top: 100px;
}

.destinations img{
    height: 320px;
    border-radius: 26px;
}


.swiper-button-next {
    top: 90%;
}

.swiper-button-prev{
    top: 90%;
}

/*--------------- Media Quries ---------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .swiper{
        height: 620px;
    }
    .destinations img{
        min-height: 456px;
        max-width: 728px;
        object-fit: contain;
    }
}
@media (min-width: 768px) and (max-width: 1152px) {
    .swiper{
        /*height: 480px;*/
        /*width: 320px;*/
        overflow: visible;
        margin-left: 0;
    }

    .swiper-slide{
        margin: 0 32px;
    }
}
@media (min-width: 1152px) {

}