
.swiper{
    width: 100%;
    margin: 100px 16px 0 16px;
}

.destinations img{
    border-radius: 26px;
}

.swiper-button-next {
    top: 90%;
    left: calc(50% + 0px);
}

.swiper-button-prev{
    top: 90%;
    left: calc(50% - 76px);
}

/*--------------- Media Quries ---------------*/

@media (min-width: 300px) and (max-width: 768px) {
    .swiper{
        height: 600px;
        max-width: calc(100vw - 32px);
    }
    .swiper img{
        max-height: 456px;
        object-fit: contain;
    }
}
@media (min-width: 768px) and (max-width: 1152px) {
    .destinations .title-block span{
        max-width: 500px;
        display: block;
    }
    .swiper{
        overflow: visible;
        margin-left: 0;
    }

    .swiper-slide{
        margin: 0 32px;
    }

    .destinations img{
        object-fit: cover;
    }

    .swiper-button-next {
        top: -15%;
        left: calc(100vw - 124px);
    }

    .swiper-button-prev{
        top: -15%;
        left: calc(100vw - 244px);
    }
}
@media (min-width: 1152px) and (max-width: 1560px) {
    .swiper{
        overflow: visible;
        margin-left: 0;
    }

    .swiper-slide{
        margin: 0 32px;
    }

    .destinations img{
        object-fit: cover;
    }

    .swiper-button-next {
        top: -15%;
        left: calc(100vw - 124px);
    }

    .swiper-button-prev{
        top: -15%;
        left: calc(100vw - 244px);
    }
}

@media (min-width: 1560px) {
    .swiper{
        overflow: visible;
        margin-left: calc(50vw - 778px);
    }

    .swiper-slide{
        margin: 0 32px;
    }

    .destinations img{
        object-fit: cover;
    }

    .swiper-button-next {
        top: -15%;
        left: calc(100vw - 322px);
    }

    .swiper-button-prev{
        top: -15%;
        left: calc(100vw - 444px);
    }
}