.gallery hr.custom-line{
    width: 288px;
}

.gallery-content {
    flex-direction: column;
    gap: 32px;
    padding: 100px 0 80px 0;
}

.gallery-content img{
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 26px;

}

/*--------------- Media Quries ---------------*/

@media (min-width: 320px) and (max-width: 768px) {
    .gallery-content img {
        max-height: 351px;
    }
}
@media (min-width: 768px) and (max-width: 1152px) {
    .gallery-content {
        flex-direction: row;
        padding: 37.5px 0;
    }
    .gallery-content-box{
        position: relative;
    }
    .gallery-content-img{
        position: absolute;
    }
    .gallery-content img {
        max-height: 351px;
        max-width: 248px;
    }
    .gallery-content-auxiliary_box:hover img {
        transform: translateY(-10%);
    }
}
@media (min-width: 1152px) and (max-width: 1440px) {
    .gallery-content {
        flex-direction: row;
        padding: 37px 0;
    }
    .gallery-content-auxiliary_box{
        height: 469px;
        width: calc(25vw - 32px);
    }

    .gallery-content-box{
        position: relative;

    }

    .gallery-content-box-img{
        position: absolute;
    }

    .gallery-content-box-img img{
        max-height: 469px;
        width: calc(25vw - 32px);
    }

    .gallery-content-auxiliary_box:hover img {
        transform: translateY(-8%);
    }
}
@media (min-width: 1440px) {
    .gallery-content {
        flex-direction: row;
        padding: 37px 0;
    }

    .gallery-content-auxiliary_box{
        height: 570px;
        width: 365px;
    }

    .gallery-content-box{
        position: relative;

    }

    .gallery-content-box-img {
        position: absolute;
    }

    .gallery-content-box-img img{
        max-height: 570px;
        width: calc(25vw - 32px);
        max-width: 365px;
    }

    .gallery-content-auxiliary_box:hover img {
        transform: translateY(-7%);
    }
}
