
.newsletter .content-wrap{
    flex-direction: column;
    border: 1px solid var(--light-color);
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    margin: 0 16px;
    background-color: var(--light-color);
}

.newsletter-title{
    color:var(--text-gray-color);
    font-size: 2.5rem;
    font-family: Playfair Display, sans-serif;
    margin: 40px 0 60px 0;
}

.newsletter-email{
    color: var(--text-gray-color);
}
.newsletter-email-box{
    flex-direction: column;
    gap: 32px;
    margin: 16px 0 40px;
}
.btn-newsletter, .newsletter-email-enter {
    height: 73px;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 12px;
}

input::placeholder {
    color: var(--orange-color);
}

.newsletter-email-enter{
    background-color: var(--orange-light-color);
    text-align: center;
    outline: none;
    border: none;
    min-width: 160px;
}


/*--------------- Media Quries ---------------*/
@media (min-width: 320px) and (max-width: 380px) {

}
@media (min-width: 380px) and (max-width: 768px) {
    .newsletter-title{
        font-size: 3.375rem;
    }
    .newsletter-email-box{
        flex-direction: row;
    }

    .btn-newsletter {
        max-width: 163px;
    }
}
@media (min-width: 768px) and (max-width: 1152px) {
    .newsletter{
        position: relative;
        /*min-width: 1080px;*/
        /*подумати може тут 100 вюпорта поставити*/
        height: 232px;
    }
    .newsletter .content-wrap{
        width: calc(100vw - 34px);
        flex-direction: row;
        height: 232px;
        position: absolute;
        top: 50%;
        z-index: 2;
    }
    .newsletter-title{
        font-size: 3.375rem;
        margin: auto 10px auto 0;
        white-space: nowrap;
    }
    .newsletter-email{
        margin: 60px 0 60px;
        max-width: 573px;
        width: 100%;
    }
    .newsletter-email-box{
        flex-direction: row;
    }
    .newsletter-email-enter input{
        max-width: 378px;
    }

    .btn-newsletter {
        max-width: 163px;
    }
}
@media (min-width: 1152px)  {
    body .newsletter{
        position: relative;
        /*width: 100vw;*/
        height: 232px;
        display: flex;
        justify-content: center;
    }
    .newsletter .content-wrap{
        flex-direction: row;
        height: 232px;
        max-width: 1120px;
        width: calc(100vw - 66px);
        position: absolute;
        top: 50%;
        z-index: 2;
    }
    .newsletter-title{
        font-size: 4rem;
        margin: auto 20px;
        white-space: nowrap;
    }
    .newsletter-email{
        margin: 60px 20px 60px 0;
    }
    .newsletter-email-box{
        flex-direction: row;
    }

    .newsletter-email-enter{
        min-width: 372px;
    }

    .btn-newsletter {
        min-width: 163px;
    }

}
