@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('_variables.css');
@import url('hero-section.css');

:root{
    --light-color: #FFFFFF;
    --text-Header-dark-color: #172432; /*Якщо це колі всього тексту то прибрати Хедер*/
    --orange-color: #FF7757;
    --border-dark-color: #000000;
    --text-gray-color: #767E86;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: rubik, sans-serif;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
.font_header{
    font-family: Playfair Display ,sans-serif;
}

.content-wrap{
    max-width: 1556px;
    padding: 0 16px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.hide-mobile{
    display: none;
}

.hide-mobile-login{
    display: none;
}

.hide{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.show-menu{
    left: 32px;
    transition: all .7s ease;
}

.btn{
    color: var(--light-color);
    background-color: var(--orange-color);
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}


/* тестові варіанти */
.direction-colum{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}