@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('hero-section.css');
@import url('destinations.css');
@import url('blog.css');
@import url('trip_planners.css');
@import url('footer.css');
@import url('newsletter.css');
@import url('gallery.css');
@import url('experiences.css');
@import url('offer.css');


:root{
    --light-color: #FFFFFF;
    --text-Header-dark-color: #172432; /*Якщо це колі всього тексту то прибрати Хедер*/
    --orange-color: #FF7757;
    --orange-light-color: #FFE8D4;
    --border-dark-color: #000000;
    --text-gray-color: #767E86;
    --light-beige-color: #FFF8F1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: rubik, sans-serif;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
.font_header{
    font-family: Playfair Display ,sans-serif;
}

.content-wrap{
    max-width: 1556px;
    padding: 0 16px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.hide-mobile{
    display: none;
}

.hide-mobile-login{
    display: none;
}

.hide{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.show-menu{
    left: 32px;
    transition: all .7s ease;
}

h2{
    font-size: 2.5rem;
    color: var(--text-Header-dark-color);
    font-family: Playfair Display ,sans-serif;
    line-height: 53.32px;
    margin-top: 80px;
}

hr.custom-line {
    width: 227px;
    height: 3px;
    background-color: var(--orange-color);
    border: none;
    margin: 20px 0 32px 0;
}

.title-block span.title-block-content{
    font-size: 1.125rem;
    color: var(--text-gray-color);
    font-family: Rubik ,sans-serif;
    line-height: 21.33px;
}

.btn{
    color: var(--light-color);
    background-color: var(--orange-color);
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}
/*.btn-swiper-container{*/
/*    height: 60px;*/
/*    width: 172px;*/
/*    margin: 100px auto 0;*/
/*}*/

.swiper-button-prev, .swiper-button-next{
    height: 60px;
    width: 60px;
    border-radius: 12px;
    background-color: var(--text-Header-dark-color);
}

.swiper-button-next:hover{
    background-color: var(--orange-color);
}
.swiper-button-prev:hover{
    background-color: var(--orange-color);
}

.rating-star img{
    height: 19.2px;
    width: 20px;
}

/*--------------- Media Quries ---------------*/

@media (min-width: 320px) and (max-width: 768px) {
    h2{
        font-size: 3.375rem;
        line-height: 71.98px;
    }
}
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
        line-height: 85.31px;
    }

    .blog .blog-content h2 {
        font-size: 3.375rem;
    }
}


